

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&display=swap');



* {
    margin: 0;
    padding: 0;
}

body{

    font-family: "Poppins", sans-serif;
}

html{

    scroll-behavior: smooth;
}

p{

    color: rgb(85, 85, 85);
}

a, .btn{

    transition: all 300ms ease;
}

nav, .nav-links{

    display: flex;

}

nav{

    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links{

    gap: 2rem;
    list-style: none;
    font-size: 1.7rem;
}

a{

    color: black;
    text-decoration: none;
    text-decoration-color: whitesmoke;
}

a:hover{

    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(180,180,180);

}

.logo{

    font-size: 2rem;
}

.logo:hover{

    cursor: default;
}

#hamburger-nav{

    display: none;
}

.hamburger-menu{

    position: relative;
    display: inline-block;
}

.hamburger-icon{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span{

    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links{

    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a{

    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;

}

.menu-links li{

    list-style: none;

}

.menu-links.open{

    max-height: 300px;

}

.hamburger-icon.open span:first-child{

    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2){

    opacity: 0;
}
.hamburger-icon.open span:last-child{

    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child{

    transform: none;
}

.hamburger-icon span:first-child{

    opacity: 1;
}

.hamburger-icon span:first-child{

    transform: none;
}

/* SECTIONS */

section{

    padding: 4vh;
    margin: 0 10rem;
    /* margin-right: 0; */
    /* height: 96vh; */
    padding-bottom: 20vh;
    box-sizing: border-box;
    min-height: fit-content;

}

.section-container{

    display: flex;
}

/* About Section */

#about{

    display: flex;
    /* justify-content: center; */
    gap: 1rem;
    /* height: 80vh; */
}

.profile{

    padding: 2vh;
    min-width: fit-content;
    
}

.photo-container{

    display: flex;
    height: 400px;
    width: 300px;
    
}

.photo{

    border: 1px solid black;

}

.about-me-1{

    align-self: center;
    
}

.about-me-1 p{

    font-weight: 600;
}

.title{

    font-size: 2rem;
    margin-bottom: 1rem;
}

.about-me{

    padding: 2vh;
}

.about-me-2{

    display: flex;
    padding: 1rem;
    margin-bottom: 1rem;
}

.btn-container{

    display: flex;
    justify-content: center;
    gap: 1 rem;
    
    
}

.btn{

    font-weight: 600;
    font-size: 1rem;
    transition: all 300ms ease;
    padding: 1rem;
    width: 10rem;
    border-radius: 2rem;
}

.btn-color-2{

    border: rgb(53,53,53) 0.1rem solid;
}

.btn-color:hover{

    cursor: pointer;
}

.btn-color:hover{

    background: rgb(53, 53, 53);
    color: white;
    border: rgb(255,255,255);
}



.btn-color{

    background: none;
}

.btn-container{

    gap: 1rem;
}

.about-me-2{

    text-align: justify;
}

.about-me-2 p{

    font-weight: 400;
    font-size: 1.7rem;
}

.arrow-icon-down{

    position: absolute;
    right: 5rem;
    bottom: 2.5rem;
    width: 50px;
    cursor: pointer;
}

.arrow-icon-up{

    position: absolute;
    right: 4.5rem;
    top: 2.5rem;
    width: 60px;
    cursor: pointer;
}

/* Projects Section*/

#projects{

    display: flex;
    position: relative;
    margin-right: 0;
    /* gap: 5rem; */
    
    /* height: 80vh; */
    
}

/* .project{


    
}  */

.project-container{

    padding-bottom: 2vh;
    margin-left: 1rem;
    margin-right: 10rem;
    cursor: default;
    border-bottom: 3px solid grey;

}

.project-cluster{

    display: flex;
    
    margin-top: 3rem;
    justify-content: space-between;
    
    /*  */
    

}

.repo{

    color: blue;
    font-size: 1.7rem;
    cursor: pointer;
    
}

.repo:hover{

    color: rgb(25, 75, 207);
    text-decoration: underline;
    text-underline-offset: 1rem;
    
}

.description{

    
    font-size: 1.2rem;
    min-width: fit-content;
    text-align: justify;
}

/* Education Section*/

#education{

    display: flex;
    position: relative;
    margin-right: 0;
    

}



.education-container{

    /* flex: 1; */
    padding-bottom: 2vh;
    margin-left: 1rem;
    margin-right: 10rem;
    cursor: default;
    border-bottom: 3px solid grey;
    min-width: 100%;
    

}

.edu-cluster{

    display: flex;
    
    margin-top: 3rem;
    justify-content: space-between;
    min-width: 100%;
    
    /*  */
    

}

.edu-cluster-2{

    display: flex;
    
    /* margin-top: 3rem; */
    justify-content: space-between;
    min-width: 100%;
    
    /*  */
    

}


.dept{

    font-size: 1.7rem;
    
}

.org{

    flex-grow: 1;
    font-size: 1.7rem;
    
}

.date{

    font-size: 1.4rem;
    
    
    
}

/* Publication Section */

#publication{

    display: flex;
    position: relative;
    margin-right: 0;
    

}



.publication-container{

    /* flex: 1; */
    padding-bottom: 2vh;
    margin-left: 1rem;
    margin-right: 10rem;
    cursor: default;
    border-bottom: 3px solid grey;
    min-width: 100%;
    

}

.publi-cluster{

    display: flex;
    
    margin-top: 3rem;
    justify-content: space-between;
    min-width: 100%;
    
    /*  */
    

}



.paper{

    font-size: 1.7rem;
    cursor: pointer;
    
}

.paper:hover{

    color: rgb(53, 53, 53);
    text-decoration: underline;
    text-underline-offset: 0.5rem;

}


.status{

    min-width: fit-content;
    font-size: 1.2rem;
    
}

/* Teaching Section */

#teaching{

    display: flex;
    position: relative;
    margin-right: 0;
    /* min-width: 100%; */
    

}

.semester-container{

    padding-bottom: 2vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 10rem;
    cursor: default;
    border-bottom: 3px solid grey;
    min-width: 100%;

}

.semester-details{

    display: flex;
    
    margin-top: 1rem;
    margin-left: 1rem;
    justify-content: space-between;
    /* min-width: 100%; */
    
    /*  */
    

}

.semester-cluster{

    display: flex;
    
    margin-top: 1rem;
    margin-left: 3rem;
    justify-content: space-between;
    /* min-width: 100%; */
    
    /*  */
    

}

.course-materials{

    
    color: grey;
    font-size: 1.4rem;
    cursor: pointer;
    
}

.course-materials:hover{

    color: rgb(53, 53, 53);
    text-decoration: underline;
    text-underline-offset: 1rem;
    
}

.course-title, .course-code{

    /* flex:1; */
    flex-grow: 1;
    font-size: 1.4rem;
    min-width: fit-content;
    /* text-align: justify; */
}

.course-title{

    text-align: right;
}

/* Contact Section */

.in-icon{

    width: 55px;
    cursor: pointer; 
}

.mail-icon{

    width: 70px;
    cursor: pointer; 
}

#contact{

    display: flex;
    position: relative;
    margin-right: 0;
    flex-direction: column;

}

.contact-upper-container{

    display: flex;
    /* border-radius: 2rem; */
    /* border: rgb(53, 53, 53) 0.1rem solid; */
    /* border-color: rgb(163,163,163); */
    /* background: rgb(250,250,250); */
    margin: 2rem 0;
    padding: 0.5;
    gap: 2rem;
}

.contact-container{

    display: flex;
    align-items: center;
    gap: 1rem;
}

.contact-container p{

    font-size: larger;
}

/* Footer Section */

footer{

    height: 26vh;
    margin: 0 1rem;
}

footer p{

    text-align: center;
}













